 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>REST chess solver</title>
</head>

<body>
<h3>It's a simple app to support chess game</h3>

<p>List of available chess figures:</p>
<ul>
    <li>king &#9812;</li>
    <li>queen &#9813;</li>
    <li>rook &#9814;</li>
    <li>bishop &#9815;</li>
    <li>knight &#9816;</li>
    <li>pawn &#9817;</li>
</ul>
<br>
<p>To check available fields to move for
    the selected figure type in your browser:
</p>
<p>http://127.0.0.1:5000//api/v1/{chess-figure}/{current-field}</p>
<p>for example:
    <a href="http://127.0.0.1:5000/api/v1/king/a1">
        http://127.0.0.1:5000/api/v1/king/a1</a>
</p>

</body>
</html>
